#newsHeader {
  position: relative;
}
.rss-button {
  padding: 10px;
  border-radius: 9px;
  width: 50px;
  margin-left: 15px;
}

.blog-entry-text a {
  background: linear-gradient(
    180deg,
    rgba(236, 236, 236, 0.9) 0%,
    rgb(212, 212, 212) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  font-size: 1.75em;
  position: relative;
  z-index: 2;
}
.blog-entry-text p {
  max-width: none;
  width: 100%;
}
.blog-entry-text span {
  font-size: 1.2em;
}

#blogpostHeader {
  flex-direction: column;
}
#blogpostHeader span {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 100%;
  color: #e7e7e7;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
}

.blog-article {
  flex-direction: column;
}
.blog-article h2 {
  margin: 10px 0px 0px 0px;
}
.blog-article img {
  float: left;
  width: 100%;
  max-width: 250px;
  margin-right: 10px;
  margin-top: 10px;
}

.quotation-words {
  margin-left: 20px;
}

/* Creator Image Gallery */
.creator-gallery {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin-bottom: 15px;
}
.creator-gallery span {
  color: white;
}
.creator-divs {
  background: linear-gradient(
    to bottom,
    rgba(90, 145, 119, 0.5) 10%,
    rgba(93, 155, 128, 0.5) 100%
  );
  box-shadow: 0px 15px 3px rgba(66, 109, 90, 0.5),
    inset 0px 3px 2px rgba(190, 255, 210, 0.3),
    inset 0px -10px 8px rgba(100, 167, 120, 0.4);
  border-radius: 8px;
  padding: 15px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creator-divs img {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  object-fit: contain;
  object-position: center;
  aspect-ratio: 16 / 9.1;
  max-width: 360px;
  transition-duration: 0.2s;
  margin: 0px;
}
.creator-divs img:hover {
  filter: brightness(0.7);
  transition-duration: 0.2s;
}
.creator-divs a {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
}
.creator-divs a:hover {
  -webkit-text-fill-color: rgb(255, 255, 255);
}

/* Links */
.links-container {
  height: 80px;
  padding: 0px;
}
.links-container a {
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  min-height: 80px;
  font-family: "Noto Sans Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  z-index: 1;
}
.links-container img {
  height: 60px;
}

.links-separators {
  height: 80px;
  padding: 1px;
  z-index: 2;
}

/* Bullet List Style */
.bullet-list {
  color: white;
  margin-left: 30px;
}

/* Responsiveness */
@media (max-width: 750px) {
  #mainNav {
    height: 45px;
  }
  .main-nav-images {
    display: block;
  }
  .main-nav-home {
    padding: 11px 30px;
  }
  .header-img {
    display: none;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.3em;
  }
  .main-nav-home {
    padding: 11px 15px;
  }
  .blog-entry-text a {
    font-size: 1.3em;
  }
  .blog-entry-text span {
    font-size: 1.1em;
  }
}

/* Gallery */
@media (min-width: 650px) {
  .creator-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 961px) {
  .creator-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
