/* Reset CSS for uniformity with different browsers */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Fonts */
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans-variable.ttf") format("opentype");
}

/* Background image and default font */
body {
  background: url("../images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  cursor: url("../images/cursors/normal.cur"), auto;
}

/* ---------------------- */
/*         Global         */
/* ---------------------- */

/* Default Values */
a,
button {
  cursor: url("../images/cursors/link.cur"), auto;
}
a {
  color: white;
  text-decoration: none;
}
button {
  border: none;
}

/* Contains the whole site (for spacing) */
#siteContainer {
  margin: 0px 20px;
}

/* Cosmetic Lines between links / buttons */
.vertical-separators {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.24) 35.94%,
    rgba(255, 255, 255, 0.36) 100%
  );
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.4);
  width: 2px;
  height: 100%;
  opacity: 0.9;
}

/* ---------------------- */
/*        Top Navbar      */
/* ---------------------- */
#mainNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 48px;
  background: linear-gradient(
    180deg,
    rgba(111, 118, 122, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(62, 65, 67, 0.7) 100%
  );
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: auto;
}
/* Link images */
#mainNav img {
  height: 20px;
}
/* Navigation links + images */
.main-nav-links,
.main-nav-links-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  gap: 7px;
  height: 100%;
  font-size: 1.2em;
  font-weight: 300;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
}
/* Active link style */
.main-nav-links-active {
  background: linear-gradient(
      180deg,
      rgba(91, 168, 74, 0) 30%,
      rgba(105, 209, 55, 0.4) 100%
    ),
    linear-gradient(
      180deg,
      rgba(146, 155, 160, 0.6) 0%,
      rgba(61, 65, 67, 0.4) 49%,
      rgba(61, 65, 67, 0) 50%
    );
}
.link-active-gradient {
  font-weight: 500;
  background: linear-gradient(180deg, #9ed69b 0%, #5ba84a 48.44%, #69d137 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* Inactive links style and hover effect */
.main-nav-links {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(146, 155, 160, 0.6) 0%,
    rgba(61, 65, 67, 0.4) 49%,
    rgba(61, 65, 67, 0) 50%
  );
  transition: all 0.1s ease-in;
  overflow: hidden;
}
.main-nav-links::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(127, 140, 124, 0) 30%,
    rgba(145, 152, 141, 0.4) 100%
  );
  opacity: 0;
  transition: opacity 0.1s ease-in;
  z-index: 1;
}
.main-nav-links:hover::before {
  opacity: 1;
}

/* Main Content (Under navbar) */
#mainContent {
  max-width: 1200px;
  margin: 20px auto;
}

/* -------------- */
/* Responsiveness */
/* -------------- */

/* Mobile */
@media (max-width: 750px) {
  /* Collapse Navbar */
  #mainNav {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  /* Make nav buttons full width */
  .main-nav-links,
  .main-nav-links-active {
    width: 100%;
  }

  /* Content responsive width */
  #mainContent {
    width: 100%;
  }
}
