/* ---------------------- */
/*      General Styles    */
/* ---------------------- */

/* Center align the content */
#siteContainer {
  max-height: 650px;
}

/* ---------------------- */
/*      Intro Section     */
/* ---------------------- */

/* Header Styles */
#introductionSection header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Article border radius */
#introductionSection article {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Mascot Image */
#introductionSection img {
  width: 200px;
  margin-right: 20px;
}

/* ---------------------- */
/*      Settings Bar      */
/* ---------------------- */

/* Settings Bar Container */
#settingsBar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
  gap: 20px;
}

/* Settings Div Styles */
.settings-bar-divs {
  backdrop-filter: blur(4px);
  border-radius: 8px;
  height: 48px;
  width: 100%;
  padding: 0px;
  overflow-x: auto;
}

/* Settings Icons (Images) */
.settings-bar-divs img {
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  height: 28px;
}

/* Settings Title (e.g., Text Size, Sounds) */
.settings-titles {
  background: linear-gradient(
    180deg,
    rgba(138, 153, 138, 0.9) 0%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  height: 20px;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 100%;
  margin: 0px 10px;
  cursor: default;
  text-wrap: nowrap;
}

.settings-buttons {
  padding: 0px 15px;
}

/* ---------------------- */
/*     Responsiveness     */
/* ---------------------- */

/* Size 4: For smaller screens, 750px */
@media (max-width: 750px) {
  #settingsBar {
    flex-direction: column;
  }
}

/* Size 3: For smaller screens, 580px */
@media (max-width: 580px) {
  #introductionSection article {
    flex-direction: column;
  }

  #introductionSection img {
    width: 130px;
    margin-right: 0px;
  }

  #introductionSection h2 {
    text-align: center;
  }
}

/* Size 2: For very small screens, 330px */
@media (max-width: 330px) {
  .settings-side-vertical-separators {
    display: none;
  }
  .settings-bar-divs img {
    display: none;
  }
}

/* Size 1: Smallest screens, 240px */
@media (max-width: 240px) {
  #introductionSection img {
    width: 100%;
  }
  .settings-titles {
    margin: 0px 5px 0px 0px;
  }

  .settings-buttons {
    padding: 8px 8px;
  }
}
