/* Center align */
#siteContainer {
  max-height: 700px;
}

/* ---------------------- */
/*      Intro Section     */
/* ---------------------- */

/* Header */
#introductionSection header {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 16.67%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.63) 0%,
      rgba(111, 118, 122, 0.7) 90.5%
    );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
/* Heading */
#introductionSection h1 {
  background: linear-gradient(
    180deg,
    rgba(138, 153, 138, 0.9) 0%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
}
/* Section content */
#introductionSection article {
  background: linear-gradient(
    180deg,
    rgba(111, 118, 122, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(62, 65, 67, 0.7) 100%
  );
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

/* Mascot Image */
#introductionSection img {
  width: 200px;
  margin-right: 16px;
}
/* Title */
#introductionSection h2 {
  background: linear-gradient(
    180deg,
    rgba(138, 153, 138, 0.9) 0%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  font-weight: 300;
  font-size: 2em;
}
/* Text Content */
#introductionSection p {
  color: #e6e6e6;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  max-width: 700px;
  font-weight: 400;
  font-size: 1.06em;
  margin-top: 10px;
}

/* ---------------------- */
/*      Settings Bar      */
/* ---------------------- */

/* Container */
#settingsBar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
  gap: 20px;
}
/* Settings Divs (2 divs)*/
.settings-bar-divs {
  background: linear-gradient(
    180deg,
    rgba(111, 118, 122, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(62, 65, 67, 0.7) 100%
  );
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3),
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
}
/* Setting Images */
.settings-bar-divs img {
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  height: 28px;
}
/* Setting Title (Text Size | Sounds) */
.settings-titles {
  background: linear-gradient(
    180deg,
    rgba(138, 153, 138, 0.9) 0%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  width: 82px;
  height: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  margin: 0px 10px;
  cursor: default;
}
/* All buttons */
.settings-buttons-inactive,
.settings-buttons-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  gap: 7px;
  height: 100%;
  font-size: 1.2em;
  font-weight: 250;
  cursor: pointer;
  padding: 0px 15px;
}
/* Inactive Buttons style and hover effect */
.settings-buttons-inactive {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(146, 155, 160, 0.6) 0%,
    rgba(61, 65, 67, 0.4) 49%,
    rgba(61, 65, 67, 0) 50%
  );
  transition: all 0.1s ease-in;
  overflow: hidden;
}
.settings-buttons-inactive::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(127, 140, 124, 0) 30%,
    rgba(145, 152, 141, 0.4) 100%
  );
  opacity: 0;
  transition: opacity 0.1s ease-in;
  z-index: 1;
}
.settings-buttons-inactive:hover::before {
  opacity: 1;
}
/* Active Buttons */
.settings-buttons-active {
  background: linear-gradient(
      180deg,
      rgba(74, 168, 135, 0) 30%,
      rgba(55, 209, 135, 0.4) 100%
    ),
    linear-gradient(
      180deg,
      rgba(146, 155, 160, 0.6) 0%,
      rgba(61, 65, 67, 0.4) 49%,
      rgba(61, 65, 67, 0) 50%
    );
}

/* Active Buttons text */
.settings-buttons-active span {
  font-weight: 500;
  background: linear-gradient(180deg, #9bd6bf 0%, #4aa877 48.44%, #37d16d 100%),
    linear-gradient(180deg, rgba(138, 153, 138, 0.9) 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* Inactive link text */
.settings-buttons-inactive span {
  background: linear-gradient(
    180deg,
    rgba(138, 153, 138, 0.9) 0%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* -------------- */
/* Responsiveness */
/* -------------- */

/* Size 3 : 750px */
@media (max-width: 750px) {
  /* Smaller Font */
  #introductionSection h1 {
    font-size: 2em;
  }
  #introductionSection h2 {
    font-size: 1.8em;
  }

  /* Collapse Settings */
  #settingsBar {
    flex-direction: column;
  }
}

/* Size 2: 580px */
@media (max-width: 580px) {
  /* Collapse Section */
  #introductionSection article {
    flex-direction: column;
  }

  /* Smaller Font */
  #introductionSection h1 {
    font-size: 1.8em;
  }

  /* Center Heading */
  #introductionSection h2 {
    text-align: center;
  }
}

/* Size 1: 520px */
@media (max-width: 520px) {
  /* Smaller Font */
  #introductionSection h1 {
    font-size: 1.5em;
  }
}
