#mainHeader {
  flex-direction: column;
}
#mainHeader span {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 100%;
  color: #e7e7e7;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
}

/* Article */
.history-article {
  flex-direction: column;
}
.history-article h2 {
  margin: 10px 0px 0px 0px;
}
.history-article p {
  max-width: 100%;
}
.history-article img {
  float: left;
  width: 100%;
  max-width: 250px;
  margin-right: 10px;
  margin-top: 10px;
}

#featuredVideos {
  margin-top: 20px;
}

.video-carousel-container {
  flex-direction: column;
  position: relative;
}

.carousel-and-buttons-container {
  width: 100%;
  position: relative;
}
.carousel-and-buttons-container button {
  border-radius: 9px;
  width: 64px;
  height: 48px;
  position: absolute;
  z-index: 1;
}
.carousel-and-buttons-container .video-nav-buttons:first-child {
  left: 0;
}
.carousel-and-buttons-container .video-nav-buttons:last-child {
  right: 0;
}

.video-carousel-wrapper {
  overflow: hidden;
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.video-carousel {
  display: flex;
  margin: 0px 10px;
  overflow: hidden;
  flex-wrap: nowrap;
  width: max-content;
  transition: none;
}
.video-carousel img {
  border-radius: 3px;
  margin: 0px 5px;
  max-width: 256px;
  flex-shrink: 0;
}

.slider-div {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(99, 101, 102, 0.007) 51.5%,
    rgba(192, 196, 199, 0.49) 100%
  );
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  flex-direction: row;
  height: 8px;
  width: 100%;
  margin-top: 20px;
}

/* Style the range slider background */
.slider-div input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(99, 101, 102, 0.007) 51.5%,
    rgba(192, 196, 199, 0.49) 100%
  );
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  margin: 0;
  padding: 0;
}

/* Style the track (background of the slider) */
.slider-div input::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(99, 101, 102, 0.007) 51.5%,
    rgba(192, 196, 199, 0.49) 100%
  );
  border-radius: 4px;
}
.slider-div input::-moz-range-track {
  height: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(99, 101, 102, 0.007) 51.5%,
    rgba(192, 196, 199, 0.49) 100%
  );
  border-radius: 4px;
}
.slider-div input::-ms-track {
  height: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(99, 101, 102, 0.007) 51.5%,
    rgba(192, 196, 199, 0.49) 100%
  );
  border-radius: 4px;
  border-color: transparent;
  border-width: 0;
  color: transparent;
  background-color: transparent;
  box-shadow: none;
}

/* Style the thumb (the movable part of the slider) */
.slider-div input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 8px;
  background: linear-gradient(180deg, #c7e0d6 0%, #4aa871 48.44%, #20edb3 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.slider-div input::-moz-range-thumb {
  width: 100px;
  height: 8px;
  background: linear-gradient(180deg, #c7e0d6 0%, #4aa871 48.44%, #20edb3 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}
.slider-div input::-ms-thumb {
  width: 100px;
  height: 8px;
  background: linear-gradient(180deg, #c7e0d6 0%, #4aa871 48.44%, #20edb3 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}
/* Style when the slider is hovered */
.slider-div input:hover::-webkit-slider-thumb {
  background: linear-gradient(180deg, #a9c8b7 0%, #429f65 48.44%, #1ac68d 100%);
}
.slider-div input:hover::-moz-range-thumb {
  background: linear-gradient(180deg, #a9c8b7 0%, #429f65 48.44%, #1ac68d 100%);
}
.slider-div input:hover::-ms-thumb {
  background: linear-gradient(180deg, #a9c8b7 0%, #429f65 48.44%, #1ac68d 100%);
}
.video-carousel-wrapper::-webkit-scrollbar {
  height: 8px;
}
.video-carousel-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.video-carousel-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#charitiesOrgs {
  margin-top: 20px;
}

/* Individual navs (or link row) */
.links-container {
  height: 80px;
  padding: 0px;
}
.links-container a {
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  min-height: 80px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  z-index: 1;
}
.links-container img {
  height: 100%;
}

.links-separators {
  height: 80px;
  padding: 1px;
  z-index: 2;
}

/* Responsiveness */
@media (max-width: 250px) {
  .links-container a {
    flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 410px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.3em;
  }
  .video-nav-buttons {
    display: none;
  }
}

@media (max-width: 750px) {
  .links-container {
    flex-direction: column;
    height: 100%;
  }
  .links-container a {
    padding: 5px;
  }
  .links-separators {
    display: none;
  }
}
